@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LLPIXEL";
  src: url("./assets/LLPIXEL3.ttf");
}

@font-face {
  font-family: "Teletext";
  src: url("./assets/EuropeanTeletextNuevo.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap");

@layer base {
  :root {
    --text-color: #ffffffe0;
    --text-color-hover: #ffffff;
    --bg-color: black;
    --main-font: 'Inter', sans-serif;
    --fancy-font: 'Inter', sans-serif;
    --btn-retro-show:block;
    --btn-modern-show:none;
    --home-mt:0px;
    --nav-bg:linear-gradient(180deg, #000000 -90.64%, rgba(0, 0, 0, 0) 100%);
    --button-border: none;
    --button-fs:1em;
    --button-radius: 0.25em;
    --switch-btn-bg-color:#f3f4f6;
    --logo-color:rgb(220, 38, 38);
    --logo-size:1em;
    --nav-button-bg: rgba(220, 38, 38, 0.95);
    --nav-button-bg-hov:rgb(220, 38, 38);
    --nav-button-pad:0.5em 1.25em;
    --nav-button-hov-bor-style:solid;
    --img-width:100%;
    --main-height:100vh;
    --main-btn-second-col:rgb(229 231 235);
    --main-btn-second-colhov:#fff;
    --main-btn-first-hov-bg:#ffffff;
    --main-btn-first-bg: rgb(229 231 235);
    --main-p-col: #ffffffe0;
    --main-p-size:1em;
    --main-p-max-w:100%;
    --main-info-top:45%;
    --main-h1-1st-toggle:block;
    --main-h1-2nd-toggle:none;
    --main-overlay: linear-gradient(to right, black 0%, rgb(0 0 0 / 0) 100%);
    --main-overlay-width:100%;
    --retro-icon-show:none;
    --new-icon-show:block;
    --retro-row-icon-hov:none;
    --new-row-icon-hov:block;
    --account-img-height:400px;
    --modern-bg-show:block;
    --retro-bg-show:none;
    --retro-full-bg-show:none;
    --modern-full-bg-show:none;
    --toggle-noise:none;
    --movie-overlay-bg: rgba(0, 0, 0, 0.85);
    --modal-overlay-grad1: linear-gradient(to top, rgba(255,255,255,0) 0%,rgba(255, 255, 255, 0.5) 100%);
    --modal-overlay-grad2: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255, 255, 255, 0.5) 100%);
    --modal-overlay-bg: rgba(255, 255, 255, 0.5);
    --modal-p-color: rgba(0, 0, 0, 0.9);
    --minimodal-bg: rgba(255, 255, 255, 0.9);
    --modal-outline: rgb(28 25 23);
    --modal-line: linear-gradient(to right, rgb(170, 160, 153) 0%,rgba(120, 113, 108, 0.2) 100%);
    --modal-line-height: 1px;
    --sepline-v-display: none;
    --modalIMG-br-tl: 0.375em;
    --modalIMG-br-tr: 0.375em;
    --modalIMG-br-br: 0.375em;
    --modalIMG-br-bl: 0.375em;
    --modalbox-br: 0.5em;
    --dither-display:none;

    @media (min-width: 768px) {
      --modalIMG-br-tr: 0px;
    }

    @media (min-width: 640px) {
      --main-info-top: 30%;
      --logo-size:2em;
      --main-height:80vh;
      --modern-full-bg-show:block;
      --modalIMG-br-br: 0px;
    }
  }

  .retro-theme {
    --text-color: #ffffff;
    --bg-color: black;
    --text-color-hover: #ffffff;
    --main-font: 'teletext', cursive;
    --fancy-font: 'llpixel', cursive;
    --btn-retro-show:none;
    --btn-modern-show:block;
    --nav-bg:black;
    --home-mt:62px;
    --button-border: 3px solid transparent;
    --button-hov-border:3px inset #1b1b1b;
    --main-btn-first-bc: #fff;
    --main-btn-first-hov-bc: #fff;
    --main-btn-second-bg:#242424;
    --button-radius: 0em;
    --button-fs:1.2em;
    --logo-size:1em;
    --logo-color:#ffffff;
    --switch-btn-bg-color:#1b1b1b;
    --nav-button-bor:3px transparent solid;
    --nav-button-bor-hov: 3px #0000FF inset;
    --nav-button-bg:#0000FF;
    --nav-button-bg-hov:#0000FF;
    --nav-button-pad:0.3em 0.75em;
    --movie-overlay-bg: blue;
    --main-height: 100vh;
    --main-btn-first-hov-bg:#ffffff;
    --main-btn-first-bg: #ffffff;
    --main-p-col: #fff;
    --main-p-size:1.1em;
    --main-p-max-w:100%;
    --main-info-top:25%;
    --main-h1-shadow: -10px -10px 20px #0a09127a, 10px 10px 20px #0a09127a;
    --main-h1-1st-toggle:none;
    --main-h1-2nd-toggle:block;
    --main-p-shadow: -5px -5px 10px #0a09127a, 5px 5px 10px #0a09127a;
    --main-overlay-width:100%;
    --img-render:pixelated;
    --img-filter: saturate(2) contrast(155);
    --img-filter-clr: saturate(3) contrast(15);
    --img-outline: 2px solid white;
    --retro-icon-show:block;
    --new-icon-show:none;
    --retro-row-icon-hov:block;
    --new-row-icon-hov:none;
    --account-img-height:328px;
    --modern-bg-show:none;
    --retro-bg-show:block;
    --toggle-noise:block;
    --modal-overlay-bg:black;
    --modal-p-color: white;
    --minimodal-bg: black;
    --modal-line: white;
    --modal-line-height: 2px;
    --modal-outline: 2px;
    --sepline-v-display: none;
    --modalbox-br: 0;
    --modalIMG-br-tl: 0;
    --modalIMG-br-tr: 0;
    --modalIMG-br-br: 0;
    --modalIMG-br-bl: 0;
    --dither-display:block;

    @media (min-width: 1280px) {
      .main p {
        max-width: 69%;
      }
    }

    @media (min-width: 768px) {
      --sepline-v-display: block;
    }

    @media (min-width: 640px) {
      --main-info-top: 20%;
      --logo-size:2em;
      --home-mt:70px;
      --main-height:calc(80vh - 70px);
      --main-p-size:1.25em;
      --retro-full-bg-show:block;

      .glitch {
        font-size:4em;
        line-height:1em;
      }
    }
}
}

body {
  font-family: var(--main-font);
  background:black;
}

.home-container {
  margin-top: var(--home-mt);
  padding-bottom:1em;
  background: var(--bg-color);
}

.account-container {
  margin-top: var(--home-mt);
}

.account-image-overlay {
  margin-top: var(--home-mt);
}

p, h2, h3 {
  font-family: var(--main-font);
}

h1 {
  font-family: var(--fancy-font);
}

button {
  font-family: var(--main-font);
  border: var(--button-border);
  border-radius: var(--button-radius);
  font-size:var(--button-fs);
}

button:hover {
  border: var(--button-hov-border);
}

input {
  font-family:var(--main-font);
  border-radius: var(--button-radius);
}

.navbar {
  border: var(--nav-border);
  background: var(--nav-bg);

  .filled-button{
    background: var(--nav-button-bg);
    border: var(--nav-button-bor);
    padding:var(--nav-button-pad);
  }

  .filled-button:hover {
    border: var(--nav-button-bor-hov);
    background: var(--nav-button-bg-hov);
  }

  .textlink {
  text-shadow: var(--main-p-shadow);
  }
}

.mobinav {
  background: rgba(0, 0, 0, 0.93);
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 53;
}

.primary {
  color: var(--text-color);
}

.primary:hover {
  color: var(--text-color-hover);
}

img {
  image-rendering: var(--img-render);
  width: var(--img-width);
}

.imgfilter {
  filter: var(--img-filter);
  -webkit-filter:var(--img-filter);
  border: var(--img-outline);
}

.imgfilter-clr {
  filter: var(--img-filter-clr);
  -webkit-filter:var(--img-filter-clr);
}

.main {
  height: var(--main-height);
  border: var(--main-border);

  button:first-of-type {
    background: var(--main-btn-first-bg);
    border-color: var(--main-btn-first-bc);
  }
  button:first-of-type:hover {
    background: var(--main-btn-first-hov-bg);
    border-color: var(--main-btn-first-hov-bc);
  }
  button:nth-of-type(2) {
    background:var(--main-btn-second-bg);
    color:var(--main-btn-second-col);
  }

  button:nth-of-type(2):hover {
    color:var(--main-btn-second-col-hov);
  }

  p {
    color: var(--main-p-col);
    font-size: var(--main-p-size);
    max-width: var(--main-p-max-w);
    text-shadow: var(--main-p-shadow);
  }
  h1 {
    text-shadow: var(--main-h1-shadow);
  }

  h1:nth-of-type(1) {
    display: var(--main-h1-1st-toggle);
  }

  h1:nth-of-type(2) {
    display: var(--main-h1-2nd-toggle);
  }

  img {
    height: var(--main-height);
  }
}

.movie-overlay {
  opacity:0;
}

.movie-overlay:hover {
  opacity:1;
  background: var(--movie-overlay-bg);

}

.switchcircle {
  background: var(--switch-btn-bg-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.btn-retro {
  display: var(--btn-retro-show);
}

.btn-modern {
  display: var(--btn-modern-show);
}

.glitch{
  color:white;
  font-size:3em;
  line-height:1em;
  position:relative;
  margin:0 auto;
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  top:0;
  text-shadow:1px 0 blue;
  top:0;
  color:white;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

.retro-icon {
  display: var(--retro-icon-show);
}

.new-icon {
  display: var(--new-icon-show);
}

::-webkit-scrollbar {
  display: none;
}

.retro-row-icon {
  display: none;
}

.new-row-icon {
  display: none;
}

.group:hover .retro-row-icon {
  display: var(--retro-row-icon-hov);
}

.group:hover .new-row-icon {
  display: var(--new-row-icon-hov);
}

.account-image {
  height: var(--account-img-height);
}

.account-image-overlay {
  height: var(--account-img-height);
  top:0px;
}

.main-info {
  position:absolute;
  top: var(--main-info-top);
}

.main-overlay {
  background-image: var(--main-overlay);
  height: var(--main-height);
  width: var(--main-overlay-width);
}

.popup-img-overlay {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.749) 0%, rgba(0, 0, 0, 0) 100%);
}

.retro-bg {
  display: var(--retro-bg-show);
}

.modern-bg {
  display: var(--modern-bg-show);
}

.modern-full-bg {
  display: var(--modern-full-bg-show);
}

.retro-full-bg {
  display: var(--retro-full-bg-show);
}

.row-container {
  border: var(--row-border);
}

#noise {
  display: var(--toggle-noise);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  pointer-events: none;
  z-index: 11;
}

#noise:before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  height: 300%;
  width: 300%;
  background: url(https://res.cloudinary.com/dhrtgukmg/image/upload/v1663062219/txtflix/grain_1_e4eb1b.png);
  pointer-events: none;
  display: block;
  opacity: 0.5;
  -webkit-animation: grain 9s steps(10) infinite;
  animation: grain 9s steps(10) infinite;
  will-change: transform;
}

.modaloverlay_b-to-t {
  background: var(--modal-overlay-grad1);
}

.modaloverlay_r-to-l {
  background: var(--modal-overlay-grad2);
}

.modalbg {
  background: transparent;
}

.modalpcolor {
  color: var(--modal-p-color);
}

.minimodalbg {
  background: var(--minimodal-bg);
}

.modalbox {
  border-radius: var(--modalbox-br);
}

.modaloutline {
  border: 2px solid;
  border-color: var(--modal-outline);
}

.modalline {
  background: var(--modal-line);
  height: var(--modal-line-height);
}

.sepline {
  width:1px;
  background: var(--modal-line);
  height: auto;
  border: 1px solid var(--modal-line);
  display: var(--sepline-v-display);
}

.img-roundedness {
  border-radius:  var(--modalIMG-br);
  border-bottom-left-radius: var(--modalIMG-br-bl);
  border-bottom-right-radius: var(--modalIMG-br-br);
  border-top-right-radius: var(--modalIMG-br-tr);
  border-top-left-radius: var(--modalIMG-br-tl);
}

.dither > picture::after {
  content: '';
  width: 97.5%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  display: var(--dither-display);
  z-index: 2;
  top: 0px;
  left: 0px;
  background-image: url("./assets/bigtile.png");
  opacity:0.5;
  background-size:contain;
  mix-blend-mode:hard-light;
  margin-left:8px;
}

@-webkit-keyframes grain{0%,to{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-5%,-10%);transform:translate(-5%,-10%)}20%{-webkit-transform:translate(-15%,5%);transform:translate(-15%,5%)}30%{-webkit-transform:translate(7%,-25%);transform:translate(7%,-25%)}40%{-webkit-transform:translate(21%,25%);transform:translate(21%,25%)}50%{-webkit-transform:translate(-25%,10%);transform:translate(-25%,10%)}60%{-webkit-transform:translate(15%,5%);transform:translate(15%,5%)}70%{-webkit-transform:translateY(15%);transform:translateY(15%)}80%{-webkit-transform:translate(25%,35%);transform:translate(25%,35%)}90%{-webkit-transform:translate(-10%,10%);transform:translate(-10%,10%)}}@keyframes grain{0%,to{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-5%,-10%);transform:translate(-5%,-10%)}20%{-webkit-transform:translate(-15%,5%);transform:translate(-15%,5%)}30%{-webkit-transform:translate(7%,-25%);transform:translate(7%,-25%)}40%{-webkit-transform:translate(21%,25%);transform:translate(21%,25%)}50%{-webkit-transform:translate(-25%,10%);transform:translate(-25%,10%)}60%{-webkit-transform:translate(15%,5%);transform:translate(15%,5%)}70%{-webkit-transform:translateY(15%);transform:translateY(15%)}80%{-webkit-transform:translate(25%,35%);transform:translate(25%,35%)}90%{-webkit-transform:translate(-10%,10%);transform:translate(-10%,10%)}}
@-webkit-keyframes grain2{0%,to{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-1%,-2%);transform:translate(-1%,-2%)}20%{-webkit-transform:translate(-2%,1%);transform:translate(-2%,1%)}30%{-webkit-transform:translate(3%,-5%);transform:translate(3%,-5%)}40%{-webkit-transform:translate(5%,5%);transform:translate(5%,5%)}50%{-webkit-transform:translate(-5%,2%);transform:translate(-5%,2%)}60%{-webkit-transform:translate(3%,1%);transform:translate(3%,1%)}70%{-webkit-transform:translateY(3%);transform:translateY(3%)}80%{-webkit-transform:translate(5%,7%);transform:translate(5%,7%)}90%{-webkit-transform:translate(-2%,2%);transform:translate(-2%,2%)}}@keyframes grain2{0%,to{-webkit-transform:translate(0);transform:translate(0)}10%{-webkit-transform:translate(-1%,-2%);transform:translate(-1%,-2%)}20%{-webkit-transform:translate(-3%,1%);transform:translate(-3%,1%)}30%{-webkit-transform:translate(3%,-5%);transform:translate(3%,-5%)}40%{-webkit-transform:translate(5%,5%);transform:translate(5%,5%)}50%{-webkit-transform:translate(-5%,2%);transform:translate(-5%,2%)}60%{-webkit-transform:translate(3%,1%);transform:translate(3%,1%)}70%{-webkit-transform:translateY(5%);transform:translateY(5%)}80%{-webkit-transform:translate(5%,7%);transform:translate(5%,7%)}90%{-webkit-transform:translate(-2%,2%);transform:translate(-2%,2%)}}

@media (min-width: 768px) {
  .main p {
    max-width: 70%;
  }

  .modalbg {
    background: var(--modal-overlay-bg);
  }

  .minimodalbg {
    background: transparent;
  }
}

@media (min-width: 1024px) {
  .main p {
    max-width: 50%;
  }
}

@media (min-width: 1280px) {
  .main p {
    max-width: 45%;
  }
}
